In [1]:
cd(pwd());

In [2]:
readdir()

4-element Array{String,1}:
 ".ipynb_checkpoints"
 "Divvy_Trips_2019_Q1.csv"
 "solução.ipynb"
 "trips.csv"

In [3]:
using Pkg;

Pkg.add("CSV");
Pkg.add("DataFrames");
Pkg.add("Statistics");

   Updating registry at `~/.julia/registries/General`

   Updating git-repo `https://github.com/JuliaRegistries/General.git`

  Resolving package versions...
   Updating `~/.julia/environments/v1.4/Project.toml`
 [no changes]
   Updating `~/.julia/environments/v1.4/Manifest.toml`
 [no changes]
  Resolving package versions...
   Updating `~/.julia/environments/v1.4/Project.toml`
 [no changes]
   Updating `~/.julia/environments/v1.4/Manifest.toml`
 [no changes]
  Resolving package versions...
   Updating `~/.julia/environments/v1.4/Project.toml`
 [no changes]
   Updating `~/.julia/environments/v1.4/Manifest.toml`
 [no changes]

In [4]:
using CSV;
using DataFrames;
using Statistics;

In [5]:
trips = DataFrame(CSV.File("Divvy_Trips_2019_Q1.csv"));

In [6]:
first(trips, 5)

5×12 DataFrame. Omitted printing of 8 columns
│ Row │ trip_id  │ start_time          │ end_time            │ bikeid │
│     │ Int64    │ String              │ String              │ Int64  │
├─────┼──────────┼─────────────────────┼─────────────────────┼────────┤
│ 1   │ 21742443 │ 2019-01-01 00:04:37 │ 2019-01-01 00:11:07 │ 2167   │
│ 2   │ 21742444 │ 2019-01-01 00:08:13 │ 2019-01-01 00:15:34 │ 4386   │
│ 3   │ 21742445 │ 2019-01-01 00:13:23 │ 2019-01-01 00:27:12 │ 1524   │
│ 4   │ 21742446 │ 2019-01-01 00:13:45 │ 2019-01-01 00:43:28 │ 252    │
│ 5   │ 21742447 │ 2019-01-01 00:14:52 │ 2019-01-01 00:20:56 │ 1170   │

In [7]:
names(trips)

12-element Array{String,1}:
 "trip_id"
 "start_time"
 "end_time"
 "bikeid"
 "tripduration"
 "from_station_id"
 "from_station_name"
 "to_station_id"
 "to_station_name"
 "usertype"
 "gender"
 "birthyear"

In [8]:
eltype.(eachcol(trips))

12-element Array{Type,1}:
 Int64
 String
 String
 Int64
 String
 Int64
 String
 Int64
 String
 String
 Union{Missing, String}
 Union{Missing, Int64}

In [9]:
size(trips)

(365069, 12)

In [10]:
rename!(trips, :trip_id             => :codigo,       
               :start_time          => :tempo_inicial,
               :end_time            => :tempo_final,
               :bikeid              => :codigo_bike,
               :tripduration        => :duracao_viagem,
               :from_station_id     => :codigo_inicio,
               :from_station_name   => :estacao_inicio,
               :to_station_id       => :codigo_final,
               :to_station_name     => :estacao_final,
               :usertype            => :tipo_usuario,
               :gender              => :genero,
               :birthyear           => :ano_aniversario)

365069×12 DataFrame. Omitted printing of 8 columns
│ Row    │ codigo   │ tempo_inicial       │ tempo_final         │ codigo_bike │
│        │ Int64    │ String              │ String              │ Int64       │
├────────┼──────────┼─────────────────────┼─────────────────────┼─────────────┤
│ 1      │ 21742443 │ 2019-01-01 00:04:37 │ 2019-01-01 00:11:07 │ 2167        │
│ 2      │ 21742444 │ 2019-01-01 00:08:13 │ 2019-01-01 00:15:34 │ 4386        │
│ 3      │ 21742445 │ 2019-01-01 00:13:23 │ 2019-01-01 00:27:12 │ 1524        │
│ 4      │ 21742446 │ 2019-01-01 00:13:45 │ 2019-01-01 00:43:28 │ 252         │
│ 5      │ 21742447 │ 2019-01-01 00:14:52 │ 2019-01-01 00:20:56 │ 1170        │
│ 6      │ 21742448 │ 2019-01-01 00:15:33 │ 2019-01-01 00:19:09 │ 2437        │
│ 7      │ 21742449 │ 2019-01-01 00:16:06 │ 2019-01-01 00:19:03 │ 2708        │
│ 8      │ 21742450 │ 2019-01-01 00:18:41 │ 2019-01-01 00:20:21 │ 2796        │
│ 9      │ 21742451 │ 2019-01-01 00:18:43 │ 2019-01-01 00:47:30 │ 6205        │
│ 10     │ 21742452 │ 2019-01-01 00:19:18 │ 2019-01-01 00:24:54 │ 3939        │
⋮
│ 365059 │ 22178517 │ 2019-03-31 23:32:54 │ 2019-03-31 23:37:50 │ 2846        │
│ 365060 │ 22178518 │ 2019-03-31 23:33:02 │ 2019-03-31 23:43:15 │ 2772        │
│ 365061 │ 22178519 │ 2019-03-31 23:33:14 │ 2019-03-31 23:37:40 │ 4304        │
│ 365062 │ 22178520 │ 2019-03-31 23:34:08 │ 2019-03-31 23:38:07 │ 667         │
│ 365063 │ 22178521 │ 2019-03-31 23:39:48 │ 2019-03-31 23:41:41 │ 4814        │
│ 365064 │ 22178522 │ 2019-03-31 23:47:05 │ 2019-03-31 23:51:35 │ 3873        │
│ 365065 │ 22178524 │ 2019-03-31 23:51:32 │ 2019-04-01 00:04:09 │ 1501        │
│ 365066 │ 22178525 │ 2019-03-31 23:52:37 │ 2019-03-31 23:58:09 │ 3270        │
│ 365067 │ 22178526 │ 2019-03-31 23:52:38 │ 2019-04-01 00:06:44 │ 3584        │
│ 365068 │ 22178527 │ 2019-03-31 23:53:08 │ 2019-03-31 23:56:06 │ 4384        │
│ 365069 │ 22178528 │ 2019-03-31 23:53:48 │ 2019-04-01 00:01:16 │ 5589        │

In [11]:
names(trips)

12-element Array{String,1}:
 "codigo"
 "tempo_inicial"
 "tempo_final"
 "codigo_bike"
 "duracao_viagem"
 "codigo_inicio"
 "estacao_inicio"
 "codigo_final"
 "estacao_final"
 "tipo_usuario"
 "genero"
 "ano_aniversario"

In [12]:
trips[!, :duracao_minutos] .= map((x) -> replace(x,"," => ""), trips.duracao_viagem)

365069-element Array{String,1}:
 "390.0"
 "441.0"
 "829.0"
 "1783.0"
 "364.0"
 "216.0"
 "177.0"
 "100.0"
 "1727.0"
 "336.0"
 "886.0"
 "653.0"
 "601.0"
 ⋮
 "239.0"
 "296.0"
 "613.0"
 "266.0"
 "239.0"
 "113.0"
 "270.0"
 "757.0"
 "332.0"
 "846.0"
 "178.0"
 "448.0"

In [13]:
select!(trips,  Not([:codigo_bike              
                     :codigo_inicio             
                     :estacao_inicio        
                     :codigo_final     
                     :estacao_final             
                     ]))

365069×8 DataFrame. Omitted printing of 5 columns
│ Row    │ codigo   │ tempo_inicial       │ tempo_final         │
│        │ Int64    │ String              │ String              │
├────────┼──────────┼─────────────────────┼─────────────────────┤
│ 1      │ 21742443 │ 2019-01-01 00:04:37 │ 2019-01-01 00:11:07 │
│ 2      │ 21742444 │ 2019-01-01 00:08:13 │ 2019-01-01 00:15:34 │
│ 3      │ 21742445 │ 2019-01-01 00:13:23 │ 2019-01-01 00:27:12 │
│ 4      │ 21742446 │ 2019-01-01 00:13:45 │ 2019-01-01 00:43:28 │
│ 5      │ 21742447 │ 2019-01-01 00:14:52 │ 2019-01-01 00:20:56 │
│ 6      │ 21742448 │ 2019-01-01 00:15:33 │ 2019-01-01 00:19:09 │
│ 7      │ 21742449 │ 2019-01-01 00:16:06 │ 2019-01-01 00:19:03 │
│ 8      │ 21742450 │ 2019-01-01 00:18:41 │ 2019-01-01 00:20:21 │
│ 9      │ 21742451 │ 2019-01-01 00:18:43 │ 2019-01-01 00:47:30 │
│ 10     │ 21742452 │ 2019-01-01 00:19:18 │ 2019-01-01 00:24:54 │
⋮
│ 365059 │ 22178517 │ 2019-03-31 23:32:54 │ 2019-03-31 23:37:50 │
│ 365060 │ 22178518 │ 2019-03-31 23:33:02 │ 2019-03-31 23:43:15 │
│ 365061 │ 22178519 │ 2019-03-31 23:33:14 │ 2019-03-31 23:37:40 │
│ 365062 │ 22178520 │ 2019-03-31 23:34:08 │ 2019-03-31 23:38:07 │
│ 365063 │ 22178521 │ 2019-03-31 23:39:48 │ 2019-03-31 23:41:41 │
│ 365064 │ 22178522 │ 2019-03-31 23:47:05 │ 2019-03-31 23:51:35 │
│ 365065 │ 22178524 │ 2019-03-31 23:51:32 │ 2019-04-01 00:04:09 │
│ 365066 │ 22178525 │ 2019-03-31 23:52:37 │ 2019-03-31 23:58:09 │
│ 365067 │ 22178526 │ 2019-03-31 23:52:38 │ 2019-04-01 00:06:44 │
│ 365068 │ 22178527 │ 2019-03-31 23:53:08 │ 2019-03-31 23:56:06 │
│ 365069 │ 22178528 │ 2019-03-31 23:53:48 │ 2019-04-01 00:01:16 │

In [14]:
mean(trips.duracao_viagem)

MethodError: MethodError: no method matching +(::String, ::String)
Closest candidates are:
  +(::Any, ::Any, !Matched::Any, !Matched::Any...) at operators.jl:529

In [15]:
trips[!, :time] .= map(x -> replace(x, "," => ""), trips.duracao_viagem)

365069-element Array{String,1}:
 "390.0"
 "441.0"
 "829.0"
 "1783.0"
 "364.0"
 "216.0"
 "177.0"
 "100.0"
 "1727.0"
 "336.0"
 "886.0"
 "653.0"
 "601.0"
 ⋮
 "239.0"
 "296.0"
 "613.0"
 "266.0"
 "239.0"
 "113.0"
 "270.0"
 "757.0"
 "332.0"
 "846.0"
 "178.0"
 "448.0"

In [16]:
trips[!, :duracao] .= map(x -> parse(Float64,x),trips.time)

365069-element Array{Float64,1}:
  390.0
  441.0
  829.0
 1783.0
  364.0
  216.0
  177.0
  100.0
 1727.0
  336.0
  886.0
  653.0
  601.0
    ⋮
  239.0
  296.0
  613.0
  266.0
  239.0
  113.0
  270.0
  757.0
  332.0
  846.0
  178.0
  448.0

In [17]:
eltype.(eachcol(trips))

10-element Array{Type,1}:
 Int64
 String
 String
 String
 String
 Union{Missing, String}
 Union{Missing, Int64}
 String
 String
 Float64

In [18]:
mean(trips.duracao) / 60

16.93903389952767

In [19]:
sum(trips.duracao)

3.7103497e8

In [20]:
select!(trips,  Not([:duracao_viagem              
                     :time             
                     ]))

365069×8 DataFrame. Omitted printing of 4 columns
│ Row    │ codigo   │ tempo_inicial       │ tempo_final         │ tipo_usuario │
│        │ Int64    │ String              │ String              │ String       │
├────────┼──────────┼─────────────────────┼─────────────────────┼──────────────┤
│ 1      │ 21742443 │ 2019-01-01 00:04:37 │ 2019-01-01 00:11:07 │ Subscriber   │
│ 2      │ 21742444 │ 2019-01-01 00:08:13 │ 2019-01-01 00:15:34 │ Subscriber   │
│ 3      │ 21742445 │ 2019-01-01 00:13:23 │ 2019-01-01 00:27:12 │ Subscriber   │
│ 4      │ 21742446 │ 2019-01-01 00:13:45 │ 2019-01-01 00:43:28 │ Subscriber   │
│ 5      │ 21742447 │ 2019-01-01 00:14:52 │ 2019-01-01 00:20:56 │ Subscriber   │
│ 6      │ 21742448 │ 2019-01-01 00:15:33 │ 2019-01-01 00:19:09 │ Subscriber   │
│ 7      │ 21742449 │ 2019-01-01 00:16:06 │ 2019-01-01 00:19:03 │ Subscriber   │
│ 8      │ 21742450 │ 2019-01-01 00:18:41 │ 2019-01-01 00:20:21 │ Subscriber   │
│ 9      │ 21742451 │ 2019-01-01 00:18:43 │ 2019-01-01 00:47:30 │ Subscriber   │
│ 10     │ 21742452 │ 2019-01-01 00:19:18 │ 2019-01-01 00:24:54 │ Subscriber   │
⋮
│ 365059 │ 22178517 │ 2019-03-31 23:32:54 │ 2019-03-31 23:37:50 │ Customer     │
│ 365060 │ 22178518 │ 2019-03-31 23:33:02 │ 2019-03-31 23:43:15 │ Subscriber   │
│ 365061 │ 22178519 │ 2019-03-31 23:33:14 │ 2019-03-31 23:37:40 │ Customer     │
│ 365062 │ 22178520 │ 2019-03-31 23:34:08 │ 2019-03-31 23:38:07 │ Subscriber   │
│ 365063 │ 22178521 │ 2019-03-31 23:39:48 │ 2019-03-31 23:41:41 │ Subscriber   │
│ 365064 │ 22178522 │ 2019-03-31 23:47:05 │ 2019-03-31 23:51:35 │ Subscriber   │
│ 365065 │ 22178524 │ 2019-03-31 23:51:32 │ 2019-04-01 00:04:09 │ Subscriber   │
│ 365066 │ 22178525 │ 2019-03-31 23:52:37 │ 2019-03-31 23:58:09 │ Subscriber   │
│ 365067 │ 22178526 │ 2019-03-31 23:52:38 │ 2019-04-01 00:06:44 │ Subscriber   │
│ 365068 │ 22178527 │ 2019-03-31 23:53:08 │ 2019-03-31 23:56:06 │ Subscriber   │
│ 365069 │ 22178528 │ 2019-03-31 23:53:48 │ 2019-04-01 00:01:16 │ Subscriber   │

In [21]:
sort!(trips, :codigo)

365069×8 DataFrame. Omitted printing of 4 columns
│ Row    │ codigo   │ tempo_inicial       │ tempo_final         │ tipo_usuario │
│        │ Int64    │ String              │ String              │ String       │
├────────┼──────────┼─────────────────────┼─────────────────────┼──────────────┤
│ 1      │ 21742443 │ 2019-01-01 00:04:37 │ 2019-01-01 00:11:07 │ Subscriber   │
│ 2      │ 21742444 │ 2019-01-01 00:08:13 │ 2019-01-01 00:15:34 │ Subscriber   │
│ 3      │ 21742445 │ 2019-01-01 00:13:23 │ 2019-01-01 00:27:12 │ Subscriber   │
│ 4      │ 21742446 │ 2019-01-01 00:13:45 │ 2019-01-01 00:43:28 │ Subscriber   │
│ 5      │ 21742447 │ 2019-01-01 00:14:52 │ 2019-01-01 00:20:56 │ Subscriber   │
│ 6      │ 21742448 │ 2019-01-01 00:15:33 │ 2019-01-01 00:19:09 │ Subscriber   │
│ 7      │ 21742449 │ 2019-01-01 00:16:06 │ 2019-01-01 00:19:03 │ Subscriber   │
│ 8      │ 21742450 │ 2019-01-01 00:18:41 │ 2019-01-01 00:20:21 │ Subscriber   │
│ 9      │ 21742451 │ 2019-01-01 00:18:43 │ 2019-01-01 00:47:30 │ Subscriber   │
│ 10     │ 21742452 │ 2019-01-01 00:19:18 │ 2019-01-01 00:24:54 │ Subscriber   │
⋮
│ 365059 │ 22178517 │ 2019-03-31 23:32:54 │ 2019-03-31 23:37:50 │ Customer     │
│ 365060 │ 22178518 │ 2019-03-31 23:33:02 │ 2019-03-31 23:43:15 │ Subscriber   │
│ 365061 │ 22178519 │ 2019-03-31 23:33:14 │ 2019-03-31 23:37:40 │ Customer     │
│ 365062 │ 22178520 │ 2019-03-31 23:34:08 │ 2019-03-31 23:38:07 │ Subscriber   │
│ 365063 │ 22178521 │ 2019-03-31 23:39:48 │ 2019-03-31 23:41:41 │ Subscriber   │
│ 365064 │ 22178522 │ 2019-03-31 23:47:05 │ 2019-03-31 23:51:35 │ Subscriber   │
│ 365065 │ 22178524 │ 2019-03-31 23:51:32 │ 2019-04-01 00:04:09 │ Subscriber   │
│ 365066 │ 22178525 │ 2019-03-31 23:52:37 │ 2019-03-31 23:58:09 │ Subscriber   │
│ 365067 │ 22178526 │ 2019-03-31 23:52:38 │ 2019-04-01 00:06:44 │ Subscriber   │
│ 365068 │ 22178527 │ 2019-03-31 23:53:08 │ 2019-03-31 23:56:06 │ Subscriber   │
│ 365069 │ 22178528 │ 2019-03-31 23:53:48 │ 2019-04-01 00:01:16 │ Subscriber   │

In [22]:
trips[:, [:genero, :duracao]]

365069×2 DataFrame
│ Row    │ genero  │ duracao │
│        │ String? │ Float64 │
├────────┼─────────┼─────────┤
│ 1      │ Male    │ 390.0   │
│ 2      │ Female  │ 441.0   │
│ 3      │ Female  │ 829.0   │
│ 4      │ Male    │ 1783.0  │
│ 5      │ Male    │ 364.0   │
│ 6      │ Female  │ 216.0   │
│ 7      │ Male    │ 177.0   │
│ 8      │ Male    │ 100.0   │
│ 9      │ Male    │ 1727.0  │
│ 10     │ Male    │ 336.0   │
⋮
│ 365059 │ missing │ 296.0   │
│ 365060 │ Male    │ 613.0   │
│ 365061 │ missing │ 266.0   │
│ 365062 │ Female  │ 239.0   │
│ 365063 │ Male    │ 113.0   │
│ 365064 │ Male    │ 270.0   │
│ 365065 │ Male    │ 757.0   │
│ 365066 │ Male    │ 332.0   │
│ 365067 │ Male    │ 846.0   │
│ 365068 │ Male    │ 178.0   │
│ 365069 │ Male    │ 448.0   │

In [23]:
trips = dropmissing(trips)

345357×8 DataFrame. Omitted printing of 4 columns
│ Row    │ codigo   │ tempo_inicial       │ tempo_final         │ tipo_usuario │
│        │ Int64    │ String              │ String              │ String       │
├────────┼──────────┼─────────────────────┼─────────────────────┼──────────────┤
│ 1      │ 21742443 │ 2019-01-01 00:04:37 │ 2019-01-01 00:11:07 │ Subscriber   │
│ 2      │ 21742444 │ 2019-01-01 00:08:13 │ 2019-01-01 00:15:34 │ Subscriber   │
│ 3      │ 21742445 │ 2019-01-01 00:13:23 │ 2019-01-01 00:27:12 │ Subscriber   │
│ 4      │ 21742446 │ 2019-01-01 00:13:45 │ 2019-01-01 00:43:28 │ Subscriber   │
│ 5      │ 21742447 │ 2019-01-01 00:14:52 │ 2019-01-01 00:20:56 │ Subscriber   │
│ 6      │ 21742448 │ 2019-01-01 00:15:33 │ 2019-01-01 00:19:09 │ Subscriber   │
│ 7      │ 21742449 │ 2019-01-01 00:16:06 │ 2019-01-01 00:19:03 │ Subscriber   │
│ 8      │ 21742450 │ 2019-01-01 00:18:41 │ 2019-01-01 00:20:21 │ Subscriber   │
│ 9      │ 21742451 │ 2019-01-01 00:18:43 │ 2019-01-01 00:47:30 │ Subscriber   │
│ 10     │ 21742452 │ 2019-01-01 00:19:18 │ 2019-01-01 00:24:54 │ Subscriber   │
⋮
│ 345347 │ 22178515 │ 2019-03-31 23:26:00 │ 2019-03-31 23:37:24 │ Subscriber   │
│ 345348 │ 22178516 │ 2019-03-31 23:31:30 │ 2019-03-31 23:35:29 │ Subscriber   │
│ 345349 │ 22178518 │ 2019-03-31 23:33:02 │ 2019-03-31 23:43:15 │ Subscriber   │
│ 345350 │ 22178520 │ 2019-03-31 23:34:08 │ 2019-03-31 23:38:07 │ Subscriber   │
│ 345351 │ 22178521 │ 2019-03-31 23:39:48 │ 2019-03-31 23:41:41 │ Subscriber   │
│ 345352 │ 22178522 │ 2019-03-31 23:47:05 │ 2019-03-31 23:51:35 │ Subscriber   │
│ 345353 │ 22178524 │ 2019-03-31 23:51:32 │ 2019-04-01 00:04:09 │ Subscriber   │
│ 345354 │ 22178525 │ 2019-03-31 23:52:37 │ 2019-03-31 23:58:09 │ Subscriber   │
│ 345355 │ 22178526 │ 2019-03-31 23:52:38 │ 2019-04-01 00:06:44 │ Subscriber   │
│ 345356 │ 22178527 │ 2019-03-31 23:53:08 │ 2019-03-31 23:56:06 │ Subscriber   │
│ 345357 │ 22178528 │ 2019-03-31 23:53:48 │ 2019-04-01 00:01:16 │ Subscriber   │

In [24]:
using Dates

In [25]:
trips[!, :idade] .= map(x -> year(now()) - x,trips.ano_aniversario)

345357-element Array{Int64,1}:
 31
 30
 26
 27
 26
 37
 36
 30
 25
 24
 26
 26
 34
  ⋮
 37
 36
 50
 48
 36
 49
 35
 27
 28
 36
 51
 22

In [26]:
groupby(trips, [:genero])

GroupedDataFrame with 2 groups based on key: genero
First Group (278439 rows): genero = "Male". Omitted printing of 5 columns
│ Row    │ codigo   │ tempo_inicial       │ tempo_final         │ tipo_usuario │
│        │ Int64    │ String              │ String              │ String       │
├────────┼──────────┼─────────────────────┼─────────────────────┼──────────────┤
│ 1      │ 21742443 │ 2019-01-01 00:04:37 │ 2019-01-01 00:11:07 │ Subscriber   │
│ 2      │ 21742446 │ 2019-01-01 00:13:45 │ 2019-01-01 00:43:28 │ Subscriber   │
│ 3      │ 21742447 │ 2019-01-01 00:14:52 │ 2019-01-01 00:20:56 │ Subscriber   │
│ 4      │ 21742449 │ 2019-01-01 00:16:06 │ 2019-01-01 00:19:03 │ Subscriber   │
│ 5      │ 21742450 │ 2019-01-01 00:18:41 │ 2019-01-01 00:20:21 │ Subscriber   │
│ 6      │ 21742451 │ 2019-01-01 00:18:43 │ 2019-01-01 00:47:30 │ Subscriber   │
│ 7      │ 21742452 │ 2019-01-01 00:19:18 │ 2019-01-01 00:24:54 │ Subscriber   │
│ 8      │ 21742453 │ 2019-01-01 00:20:34 │ 2019-01-01 00:35:20 │ Subscriber   │
│ 9      │ 21742455 │ 2019-01-01 00:23:04 │ 2019-01-01 00:33:05 │ Subscriber   │
│ 10     │ 21742459 │ 2019-01-01 00:24:13 │ 2019-01-01 00:31:00 │ Subscriber   │
⋮
│ 278429 │ 22178510 │ 2019-03-31 23:21:07 │ 2019-03-31 23:25:12 │ Subscriber   │
│ 278430 │ 22178515 │ 2019-03-31 23:26:00 │ 2019-03-31 23:37:24 │ Subscriber   │
│ 278431 │ 22178516 │ 2019-03-31 23:31:30 │ 2019-03-31 23:35:29 │ Subscriber   │
│ 278432 │ 22178518 │ 2019-03-31 23:33:02 │ 2019-03-31 23:43:15 │ Subscriber   │
│ 278433 │ 22178521 │ 2019-03-31 23:39:48 │ 2019-03-31 23:41:41 │ Subscriber   │
│ 278434 │ 22178522 │ 2019-03-31 23:47:05 │ 2019-03-31 23:51:35 │ Subscriber   │
│ 278435 │ 22178524 │ 2019-03-31 23:51:32 │ 2019-04-01 00:04:09 │ Subscriber   │
│ 278436 │ 22178525 │ 2019-03-31 23:52:37 │ 2019-03-31 23:58:09 │ Subscriber   │
│ 278437 │ 22178526 │ 2019-03-31 23:52:38 │ 2019-04-01 00:06:44 │ Subscriber   │
│ 278438 │ 22178527 │ 2019-03-31 23:53:08 │ 2019-03-31 23:56:06 │ Subscriber   │
│ 278439 │ 22178528 │ 2019-03-31 23:53:48 │ 2019-04-01 00:01:16 │ Subscriber   │
⋮
Last Group (66918 rows): genero = "Female". Omitted printing of 5 columns
│ Row   │ codigo   │ tempo_inicial       │ tempo_final         │ tipo_usuario │
│       │ Int64    │ String              │ String              │ String       │
├───────┼──────────┼─────────────────────┼─────────────────────┼──────────────┤
│ 1     │ 21742444 │ 2019-01-01 00:08:13 │ 2019-01-01 00:15:34 │ Subscriber   │
│ 2     │ 21742445 │ 2019-01-01 00:13:23 │ 2019-01-01 00:27:12 │ Subscriber   │
│ 3     │ 21742448 │ 2019-01-01 00:15:33 │ 2019-01-01 00:19:09 │ Subscriber   │
│ 4     │ 21742454 │ 2019-01-01 00:21:52 │ 2019-01-01 00:32:45 │ Subscriber   │
│ 5     │ 21742456 │ 2019-01-01 00:23:43 │ 2019-01-01 00:33:05 │ Customer     │
│ 6     │ 21742457 │ 2019-01-01 00:23:54 │ 2019-01-01 00:39:00 │ Subscriber   │
│ 7     │ 21742458 │ 2019-01-01 00:24:08 │ 2019-01-01 00:39:00 │ Subscriber   │
│ 8     │ 21742460 │ 2019-01-01 00:24:27 │ 2019-01-01 00:47:03 │ Customer     │
│ 9     │ 21742477 │ 2019-01-01 00:46:19 │ 2019-01-01 00:51:26 │ Subscriber   │
│ 10    │ 21742486 │ 2019-01-01 00:58:55 │ 2019-01-01 01:07:50 │ Subscriber   │
⋮
│ 66908 │ 22178389 │ 2019-03-31 21:26:35 │ 2019-03-31 21:40:20 │ Subscriber   │
│ 66909 │ 22178401 │ 2019-03-31 21:39:44 │ 2019-03-31 21:43:03 │ Subscriber   │
│ 66910 │ 22178405 │ 2019-03-31 21:42:30 │ 2019-03-31 21:49:12 │ Subscriber   │
│ 66911 │ 22178408 │ 2019-03-31 21:45:54 │ 2019-03-31 21:48:07 │ Subscriber   │
│ 66912 │ 22178414 │ 2019-03-31 21:59:59 │ 2019-03-31 22:11:21 │ Subscriber   │
│ 66913 │ 22178450 │ 2019-03-31 22:15:41 │ 2019-03-31 22:18:18 │ Subscriber   │
│ 66914 │ 22178458 │ 2019-03-31 22:21:52 │ 2019-03-31 22:30:00 │ Subscriber   │
│ 66915 │ 22178477 │ 2019-03-31 22:38:20 │ 2019-03-31 22:46:15 │ Subscriber   │
│ 66916 │ 22178492 │ 2019-03-31 22:59:35 │ 2019-03-31 23:01:38 │ Subscriber   │
│ 66917 │ 22178503 │ 2019-03-31 23:09:40 │ 2019-03-31 23:19:30 │ Subscriber   │
│ 66918 │ 22178520 │ 2019-03-31 23:34:08 │ 2019-03-31 23:38:07 │ Subscriber   │

In [27]:
by(trips, [:genero], trips -> mean(trips[:, :duracao]) / 60)

┌ Warning: `by(d::AbstractDataFrame, cols::Any, f::Base.Callable; sort::Bool = false, skipmissing::Bool = false)` is deprecated, use `combine(f, groupby(d, cols, sort = sort, skipmissing = skipmissing))` instead.
│   caller = top-level scope at In[27]:1
└ @ Core In[27]:1

2×2 DataFrame
│ Row │ genero │ x1      │
│     │ String │ Float64 │
├─────┼────────┼─────────┤
│ 1   │ Male   │ 14.0005 │
│ 2   │ Female │ 15.3137 │

In [28]:
trips[!, :count] .= 1

345357-element Array{Int64,1}:
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 ⋮
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1

In [29]:
groupby(trips, [:idade])

GroupedDataFrame with 72 groups based on key: idade
First Group (20914 rows): idade = 31. Omitted printing of 6 columns
│ Row   │ codigo   │ tempo_inicial       │ tempo_final         │ tipo_usuario │
│       │ Int64    │ String              │ String              │ String       │
├───────┼──────────┼─────────────────────┼─────────────────────┼──────────────┤
│ 1     │ 21742443 │ 2019-01-01 00:04:37 │ 2019-01-01 00:11:07 │ Subscriber   │
│ 2     │ 21742457 │ 2019-01-01 00:23:54 │ 2019-01-01 00:39:00 │ Subscriber   │
│ 3     │ 21742458 │ 2019-01-01 00:24:08 │ 2019-01-01 00:39:00 │ Subscriber   │
│ 4     │ 21742480 │ 2019-01-01 00:51:55 │ 2019-01-01 00:54:49 │ Subscriber   │
│ 5     │ 21742483 │ 2019-01-01 00:58:09 │ 2019-01-01 01:15:33 │ Subscriber   │
│ 6     │ 21742491 │ 2019-01-01 01:04:33 │ 2019-01-01 01:22:12 │ Customer     │
│ 7     │ 21742509 │ 2019-01-01 01:27:25 │ 2019-01-01 01:41:38 │ Subscriber   │
│ 8     │ 21742530 │ 2019-01-01 01:49:30 │ 2019-01-01 01:57:47 │ Subscriber   │
│ 9     │ 21742531 │ 2019-01-01 01:49:30 │ 2019-01-01 01:57:40 │ Subscriber   │
│ 10    │ 21742535 │ 2019-01-01 01:54:11 │ 2019-01-01 01:59:13 │ Subscriber   │
⋮
│ 20904 │ 22178218 │ 2019-03-31 19:48:41 │ 2019-03-31 20:10:34 │ Subscriber   │
│ 20905 │ 22178219 │ 2019-03-31 19:48:39 │ 2019-03-31 19:50:44 │ Subscriber   │
│ 20906 │ 22178275 │ 2019-03-31 20:13:32 │ 2019-03-31 20:18:52 │ Subscriber   │
│ 20907 │ 22178328 │ 2019-03-31 20:46:05 │ 2019-03-31 20:57:29 │ Subscriber   │
│ 20908 │ 22178337 │ 2019-03-31 20:51:21 │ 2019-03-31 20:55:47 │ Subscriber   │
│ 20909 │ 22178353 │ 2019-03-31 21:09:36 │ 2019-03-31 21:17:58 │ Subscriber   │
│ 20910 │ 22178399 │ 2019-03-31 21:36:50 │ 2019-03-31 21:54:33 │ Subscriber   │
│ 20911 │ 22178412 │ 2019-03-31 21:54:46 │ 2019-03-31 22:05:13 │ Subscriber   │
│ 20912 │ 22178413 │ 2019-03-31 21:57:17 │ 2019-03-31 22:11:12 │ Subscriber   │
│ 20913 │ 22178427 │ 2019-03-31 22:05:26 │ 2019-03-31 22:18:46 │ Subscriber   │
│ 20914 │ 22178446 │ 2019-03-31 22:13:21 │ 2019-03-31 22:16:47 │ Subscriber   │
⋮
Last Group (2 rows): idade = 89. Omitted printing of 6 columns
│ Row │ codigo   │ tempo_inicial       │ tempo_final         │ tipo_usuario │
│     │ Int64    │ String              │ String              │ String       │
├─────┼──────────┼─────────────────────┼─────────────────────┼──────────────┤
│ 1   │ 22147296 │ 2019-03-27 17:02:00 │ 2019-03-27 17:07:55 │ Subscriber   │
│ 2   │ 22158790 │ 2019-03-28 17:07:28 │ 2019-03-28 17:13:17 │ Subscriber   │

In [30]:
by(trips, [:idade], trips -> mean(trips[:, :duracao]) / 60, sort=true)

┌ Warning: `by(d::AbstractDataFrame, cols::Any, f::Base.Callable; sort::Bool = false, skipmissing::Bool = false)` is deprecated, use `combine(f, groupby(d, cols, sort = sort, skipmissing = skipmissing))` instead.
│   caller = ip:0x0
└ @ Core :-1

72×2 DataFrame
│ Row │ idade │ x1      │
│     │ Int64 │ Float64 │
├─────┼───────┼─────────┤
│ 1   │ 17    │ 28.7333 │
│ 2   │ 18    │ 56.6646 │
│ 3   │ 19    │ 40.8246 │
│ 4   │ 20    │ 55.5932 │
│ 5   │ 21    │ 18.3095 │
│ 6   │ 22    │ 12.7823 │
│ 7   │ 23    │ 20.6791 │
│ 8   │ 24    │ 17.4445 │
│ 9   │ 25    │ 11.3894 │
│ 10  │ 26    │ 12.4472 │
⋮
│ 62  │ 78    │ 6.24379 │
│ 63  │ 79    │ 6.65    │
│ 64  │ 80    │ 8.81839 │
│ 65  │ 81    │ 9.74487 │
│ 66  │ 82    │ 258.867 │
│ 67  │ 86    │ 14.5233 │
│ 68  │ 87    │ 21.3643 │
│ 69  │ 89    │ 5.86667 │
│ 70  │ 99    │ 6.60528 │
│ 71  │ 102   │ 19.2908 │
│ 72  │ 120   │ 12.4249 │

In [31]:
names(trips)

10-element Array{String,1}:
 "codigo"
 "tempo_inicial"
 "tempo_final"
 "tipo_usuario"
 "genero"
 "ano_aniversario"
 "duracao_minutos"
 "duracao"
 "idade"
 "count"

In [36]:
select!(trips,  Not([:duracao_minutos
                     :ano_aniversario
                     ]))

345357×8 DataFrame. Omitted printing of 4 columns
│ Row    │ codigo   │ tempo_inicial       │ tempo_final         │ tipo_usuario │
│        │ Int64    │ String              │ String              │ String       │
├────────┼──────────┼─────────────────────┼─────────────────────┼──────────────┤
│ 1      │ 21742443 │ 2019-01-01 00:04:37 │ 2019-01-01 00:11:07 │ Subscriber   │
│ 2      │ 21742444 │ 2019-01-01 00:08:13 │ 2019-01-01 00:15:34 │ Subscriber   │
│ 3      │ 21742445 │ 2019-01-01 00:13:23 │ 2019-01-01 00:27:12 │ Subscriber   │
│ 4      │ 21742446 │ 2019-01-01 00:13:45 │ 2019-01-01 00:43:28 │ Subscriber   │
│ 5      │ 21742447 │ 2019-01-01 00:14:52 │ 2019-01-01 00:20:56 │ Subscriber   │
│ 6      │ 21742448 │ 2019-01-01 00:15:33 │ 2019-01-01 00:19:09 │ Subscriber   │
│ 7      │ 21742449 │ 2019-01-01 00:16:06 │ 2019-01-01 00:19:03 │ Subscriber   │
│ 8      │ 21742450 │ 2019-01-01 00:18:41 │ 2019-01-01 00:20:21 │ Subscriber   │
│ 9      │ 21742451 │ 2019-01-01 00:18:43 │ 2019-01-01 00:47:30 │ Subscriber   │
│ 10     │ 21742452 │ 2019-01-01 00:19:18 │ 2019-01-01 00:24:54 │ Subscriber   │
⋮
│ 345347 │ 22178515 │ 2019-03-31 23:26:00 │ 2019-03-31 23:37:24 │ Subscriber   │
│ 345348 │ 22178516 │ 2019-03-31 23:31:30 │ 2019-03-31 23:35:29 │ Subscriber   │
│ 345349 │ 22178518 │ 2019-03-31 23:33:02 │ 2019-03-31 23:43:15 │ Subscriber   │
│ 345350 │ 22178520 │ 2019-03-31 23:34:08 │ 2019-03-31 23:38:07 │ Subscriber   │
│ 345351 │ 22178521 │ 2019-03-31 23:39:48 │ 2019-03-31 23:41:41 │ Subscriber   │
│ 345352 │ 22178522 │ 2019-03-31 23:47:05 │ 2019-03-31 23:51:35 │ Subscriber   │
│ 345353 │ 22178524 │ 2019-03-31 23:51:32 │ 2019-04-01 00:04:09 │ Subscriber   │
│ 345354 │ 22178525 │ 2019-03-31 23:52:37 │ 2019-03-31 23:58:09 │ Subscriber   │
│ 345355 │ 22178526 │ 2019-03-31 23:52:38 │ 2019-04-01 00:06:44 │ Subscriber   │
│ 345356 │ 22178527 │ 2019-03-31 23:53:08 │ 2019-03-31 23:56:06 │ Subscriber   │
│ 345357 │ 22178528 │ 2019-03-31 23:53:48 │ 2019-04-01 00:01:16 │ Subscriber   │

In [33]:
CSV.write("trips.csv", trips, append=false)

"trips.csv"

In [34]:
readdir()

4-element Array{String,1}:
 ".ipynb_checkpoints"
 "Divvy_Trips_2019_Q1.csv"
 "solução.ipynb"
 "trips.csv"

In [35]:
;head  trips.csv

codigo,tempo_inicial,tempo_final,tipo_usuario,genero,ano_aniversario,duracao_minutos,duracao,idade,count
21742443,2019-01-01 00:04:37,2019-01-01 00:11:07,Subscriber,Male,1989,390.0,390.0,31,1
21742444,2019-01-01 00:08:13,2019-01-01 00:15:34,Subscriber,Female,1990,441.0,441.0,30,1
21742445,2019-01-01 00:13:23,2019-01-01 00:27:12,Subscriber,Female,1994,829.0,829.0,26,1
21742446,2019-01-01 00:13:45,2019-01-01 00:43:28,Subscriber,Male,1993,1783.0,1783.0,27,1
21742447,2019-01-01 00:14:52,2019-01-01 00:20:56,Subscriber,Male,1994,364.0,364.0,26,1
21742448,2019-01-01 00:15:33,2019-01-01 00:19:09,Subscriber,Female,1983,216.0,216.0,37,1
21742449,2019-01-01 00:16:06,2019-01-01 00:19:03,Subscriber,Male,1984,177.0,177.0,36,1
21742450,2019-01-01 00:18:41,2019-01-01 00:20:21,Subscriber,Male,1990,100.0,100.0,30,1
21742451,2019-01-01 00:18:43,2019-01-01 00:47:30,Subscriber,Male,1995,1727.0,1727.0,25,1